#Utilities
streamlit>=1.42.0
numpy
pandas
#Face recognition
scikit-learn
matplotlib
dlib-bin

git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase
bcrypt

segno
pillow



torch>=2.12.1

librosa   #Load the audio files and 
resemblyzer  #LOad the audio files and extract the embeddings